# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

#Boost include dirs
include/boost/*
include_private/boost/*

#Binaries
x64/*
x86/*
.vs/*

# Executables
*.exe
*.out
*.app
